body {
  background: #eee;
  font: 12px Lucida sans, Arial, Helvetica, sans-serif;
  color: #333;
  text-align: center;
}

a {
  color: #2A679F;
}
/*========*/

.form-wrapper {
  display: flex;
  justify-content: flex-start;
  background-color: #f6f6f6;
  border: 1px solid rgb(158, 153, 153);
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
  margin: 10px auto;
  overflow: hidden;
  padding: 20px;
  max-width: 738px;
  margin-bottom: 50px;
}

.form-wrapper #search {
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 14px;
  border: 1px solid #CCC;
  box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
  border-radius: 3px;
  color: #999;
  /* font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif; */
  padding: 5px 15px;
  margin-right: 0px;
  width: 80%;
}

.form-wrapper #search:focus {
  border-color: #aaa;
  -webkit-box-shadow: 0 1px 1px #bbb inset;
  -moz-box-shadow: 0 1px 1px #bbb inset;
  box-shadow: 0 1px 1px #bbb inset;
  outline: 0;
}

.form-wrapper #search:-moz-placeholder,
.form-wrapper #search:-ms-input-placeholder,
.form-wrapper #search::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
}

.form-wrapper #submit {
  background-color: #0483a0;
  border: 1px solid #00748f;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
  color: #fafafa;
  padding: 8px 16px;
  width: 10%;
  cursor:pointer;
}